@inject NavigationManager Navigation
@using LAHJA.Data.UI.Components.Templates_Subscriptions
@using Domain.ShareData
@using LAHJA.Helpers.Services
@using LAHJA.UI.Components.ProFile.Settings
@using MudBlazor
@using LAHJA.UI.Components.Templates_Subscriptions.CardTemp_Subscriptions

@inject IManageLanguageService _manageLanguageService
@inject LanguageService languageService
@code {
    // [Parameter] public string Title { get; set; } = "Model Summary";
    [Parameter] public List<DownloadCountStat> ModelStats { get; set; } = new();

}

@* <MudTypography Variant="H4" Class="relative group flex items-center">
    <MudLink Href="#model-summary" Target="_self"
             Class="block pr-1.5 text-lg md:absolute md:p-1.5 md:opacity-0 md:group-hover:opacity-100 md:right-full">
        <MudIcon Icon="@Icons.Material.Filled.Link" Class="text-gray-500 hover:text-black dark:hover:text-gray-200 w-4" />
    </MudLink>
    <span>@Title</span>
</MudTypography> *@



 @foreach (var item in ModelStats)
{
<!-- العنوان -->
    <MudTypography Variant="H4" Class="relative group flex items-center">
        <MudLink Href="@item.Url" Target="_self"
                 Class="block pr-1.5 text-lg md:absolute md:p-1.5 md:opacity-0 md:group-hover:opacity-100 md:right-full">
            <MudIcon Icon="@Icons.Material.Filled.Link" Class="text-gray-500 hover:text-black dark:hover:text-gray-200 w-4" />
        </MudLink>
        <MudText Typo="Typo.h6" Class=" font-semibold text-sm">
            @item.Name
        </MudText>
    </MudTypography>

       <MudTypography Variant="Body1">
         @item.Description
    </MudTypography>
} 